extends layout

block content
  .container
    .row
      .col-xs-12
        -var friends = session.user.friends
        if (!friends || friends.length == 0)
          a(href='/friends'): h5 Go add some friends!
   
        else
          h2 Pick a friend

          .container
            .row
              each friend, i in friends
                if (friend.available)
                  .col-xs-12.col-lg-3.col-md-4
                    .row
                      .col-xs-8
                        h3
                          small.user-status.user-online
                            span.glyphicon.glyphicon-user
                          =friend.username
                      .col-xs-3.col-xs-offset-1
                        form.pull-right#formChooseFriend(name='chooseFriend' method='post' action='/listen' role='form')
                          .form-group
                            input.form-control(type='hidden' name='username' value=friend.username)
                            input.form-control(type='hidden' name='username' value=friend.username)
                            input.form-control(type='hidden' name='username' value=friend.username)
                            input.form-control(type='hidden' name='username' value=friend.username)
                            input.form-control(type='hidden' name='username' value=friend.username)
                            input.form-control(type='hidden' name='username' value=friend.username)
                          button.btn.btn-xs.btn-warning.remove-friend-button(type='submit')
                            span.glyphicon.glyphicon-headphones
