extends layout

block content
  .container
    .row
      .col-xs-12
        img.img-responsive.img-circle                
      -if (session.user && profile.username != session.user.username)
        .col-xs-3
          div.profile-info
            h2= profile.username
            if (profile.available)
              h5.user-status.user-online online
            else
              h5.user-status.user-offline offline
        -var friendNames = session.user.friends;
        -if (!friendNames || friendNames.indexOf(profile.username) == -1)
          .col-xs-12
            form#formAddFriend(name='addfriend' method='post' action='/addfriend' role='form')
              .form-group
                input.form-control(type='hidden' name='username' value=profile.username)
              button.btn.btn-success(type='submit') Add friend
        -else
          .col-xs-12
            form#formListenTogether(name='addfriend' method='post' action='/picksong' role='form')
              .form-group
                input.form-control(type='hidden' name='username' value=profile.username)
              button.btn.btn-info(type='submit') Listen together
          .col-xs-12
            form#formRemoveFriend(name='removefriend' method='post' action='/removefriend' role='form')
              .form-group
                input.form-control(type='hidden' name='username' value=profile.username)
              button.btn.btn-danger(type='submit') Remove friend    

      - else if (session.user && profile.username == session.user.username)
        .col-xs-12
          a(href='/requests'): h2 Pending song requests
          - var numPendingRequests = 0;
          each request, i in requests
            if (request.receiver_name == session.user.username && request.active == 1)
              - numPendingRequests++;
              .col-xs-12.col-md-4.col.xl-3
                img.img-responsive(src='#{request.thumbnail_url}') 
                h4= request.title  
                a.btn.btn-info(href='/listeningroom/'+request.listeningroom_id+'?videoId='+request.video_id role='button') Listen with <b>#{request.requester_name}</b>
          if (numPendingRequests == 0)
            p You don't have any pending requests.

        .col-xs-12
          hr

        .col-xs-12
          a(href='/friends'): h2 Friends
          each friend, i in friends          
            .col-xs-12.col-lg-3.col-md-4
              div.profile-info
                h2= friend.username
                if (friend.available)
                  h5.user-status.user-online online
                else
                  h5.user-status.user-offline offline
              form#formListenTogether(name='addfriend' method='post' action='/picksong' role='form')
                .form-group
                  input.form-control(type='hidden' name='username' value=friend.username)
                button.btn.btn-info(type='submit') Listen together
              form#formRemoveFriend(name='removefriend' method='post' action='/removefriend' role='form')
                .form-group
                  input.form-control(type='hidden' name='username' value=friend.username)
                button.btn.btn-danger(type='submit') Remove friend
          if (friends.length == 0)
            a(href='/userlist'): p Go add some friends!

        .col-xs-12
          hr

        .col-xs-12
          a(href='/history'): h2 History
          - var numHistory = 0;
          - for (var i = requests.length - 1; i >= 0; i--)
            - var request = requests[i]
            if (request.active == 0 && numHistory < 3)
              - numHistory++;
              .col-xs-12.col-md-4.col.xl-3
                h4: a(href='http://youtu.be/' + request.video_id)= request.title
                if (request.requester_name == session.user.username)
                  h5 Listened with 
                    =request.receiver_name
                else
                  h5 Listened with  
                    =request.requester_name
          if (numHistory == 0)
            p You haven't listened to anything yet.



